#home {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 20px;
    flex-direction: column;
}
.img-container {
    padding-top: 10rem;
}
.align-items-center {
    align-items: center;
}
.white-divider {
    margin-top: 50px;
    width: 100%;
    height: 4.1px;
    background: rgb(181,136,167);
    background: linear-gradient(90deg, rgba(181,136,167,1) 14%, rgba(132,205,214,1) 70%, rgba(125,189,127,1) 100%);
 }
h1 {
    border-radius: 25%;
    padding: 5px 30px 5px 30px ;
    background: rgb(181,136,167);
    background: linear-gradient(90deg, rgba(181,136,167,1) 14%, rgba(132,205,214,1) 70%, rgba(125,189,127,1) 100%);
}
h2 {
    text-align: center;
}
h4 {
    margin: 0px;
    padding-right: 50px;
}
ol {
    list-style-type: square;
}
.gap-5 {
    gap: 5px
}
.container { 

}
.card {
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.card:hover {
    box-shadow: 0 2px 8px 0 rgba(34, 33, 46, 0.5);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    border: 1px solid black;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
.reveal {
    position: relative;
    opacity: 10;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .border-radius {
    border-radius: 50%;
  }


  
/*----------------------------------------------*/
/*	Carousel - Carousel
/*----------------------------------------------*/
.item-wrapper {
  margin: 5px;
  transition: all 0.5s ease;
  opacity: 0.85;
  transform: scale(0.95);
}
 .slick-dots {
  bottom: -40px;

}
 .slick-dots li button:before {
  font-size: 15px;
  line-height: 30px;

}
.slick-center {
  .item-wrapper {
    opacity: 1;
    transform: scale(1);
  }
}
.slick-arrow {
  &.slick-prev, &.slick-next {
     top: 50%;
     /* background-color: #ddd; */
     opacity: 0.9;
     width: 50px;
     /* height: 200px; */
     z-index: 500;
     &:hover {
       opacity: 1;
     }
 
     &.slick-disabled:hover {
       opacity: 0.5;
       cursor: default;
     }
    }
  &.slick-prev, &.slick-next {
    top: 50%;
    /* background-color: #ddd; */
    opacity: 0.9;
    width: 50px;
    /* height: 200px; */
    z-index: 500;
    &:hover {
     opacity: 1;
    }

    &.slick-disabled:hover {
     opacity: 0.5;
     cursor: default;
    }
  }

  &.slick-prev {
    border-bottom-right-radius: 72px;
    border-top-right-radius: 72px;
    left: 0;
  }

  &.slick-next {
    border-bottom-left-radius: 72px;
    border-top-left-radius: 72px;
    right: 0;
  }

  &.slick-next:before {
     position: absolute;
     font-size: 35px;
     top: 40%;
     margin-left: -15px;
  }
  &.slick-prev:before {
     position: absolute;
     font-size: 35px;
     top: 40%;
     margin-left: 5px;
  }
}

.carousel .control-dots {
  z-index: 3;
}
.carousel .slide img {

  vertical-align: top;
  /* height: 40rem; */
  border: 0;
  border-radius: 4%;
}

.carousel .carousel-status {
  left: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  text-shadow: none;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.img-center {
  display: flex;
  justify-content: center;
  border-radius: 4%;
}
.span-book {
  padding-top: 20px;
  font-size: 20px;
}
.margin-top-70 {
  margin-top: -70px;
  border: ridge;
}
.note {
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, .25);
    padding: 35px;
}
.wts { 
  padding-bottom: 20px;
}
.bold {
  font-weight: 600;
}
.shekel {
  align-items: center;
  gap: 2px;
}