@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi', serif;
}

.backgruand {
  top: 65px;
  position: absolute;
  width: 100vw;
  height: 200vh;
  background: #161415 url('./assests/header-full1.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 70px;
}
@media only screen and (max-width: 1000px) {
  .backgruand {
    height: 450vh;
  }
  .container {
    margin: 0;
  }

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-10 {
  gap: 10px
}
.justify-center {
  justify-content: center;
}
.justify-space-evently {
  justify-content: space-between;
}
.curser-pointer {
  cursor: pointer;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img {
  max-width: 100%;
  height: auto;
}

.bottom-span {
  position: fixed;
  left: 2%;
  /* transform: translateX(-50%); */
  bottom: 20px; /* Adjust this value to control the distance from the bottom */

  padding: 10px 20px;
  border-radius: 5px;
}
.z-index-999 {
  z-index: 999;
}
.padding {
  padding: 5px;
}
